<section class="cloud">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 space-110"></div>
                <div class="col-sm-4">
                    <h1>
                       Advertise <br>
                        With us!
                    </h1>                 
                    <hr>
                    <p>எங்கள் புத்தங்கங்களில், இன்றே விளமபரம் செய்து பயன்பெறுங்கள்</p>
                    <button>
                        Talk to us
                    </button>
                </div>
    
                <div class="col-sm-2"></div>
    
                <div class="col-sm-6 ">
                    <img src="../../assets/ad1.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="cloud2">
        <div class="container">
            <div class="row mb-5">
                <div class="col-sm-12 mt-5 mb-5 text-center">
                    <h2>விளம்பரம் செய்யவேண்டுமா? </h2>
                    <hr>
                    <p>எங்கள் புத்தங்கங்களில், இன்றே  விளமபரம் செய்து பயன்பெறுங்கள் </p>
                </div>

                <div class="col-sm-4">
                    <img src="../../assets/ad1.jpg"  class="img-fluid" alt="">
                </div>

                <div class="col-sm-4">
                        <img src="../../assets/ad2.jpg" class="img-fluid" alt="">
                </div>

                <div class="col-sm-4">
                            <img src="../../assets/ad3.jpg"  class="img-fluid"alt="">
                </div>
            </div>
        </div>
    </section>



