<nav class="navbar navbar-expand-md  ">

    <div class="container">
    
        <a class="navbar-brand" href="/home">
          <img src="../../assets/logo.png" class="img-fluid" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" >
              <i class="fa fa-navicon" style="color:black; font-size:28px;"></i>
          </span>
        </button>
        <div class="collapse navbar-collapse  " id="navbarCollapse">
          <ul class="navbar-nav  ml-auto "> <!--mr-auto-->
      
            <li class="nav-item">
              <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>
              </li>   

              <li class="nav-item">
                <a class="nav-link" routerLink="/advertisement">Advertisement</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLink="/careers">Subscription</a>
              </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/contact">Contact us</a>
            </li>
              
              
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="mobile-app-development">Mobile App Development</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/digital-marketing">Digital Marketing</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="web-development"> Web Development</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/cloud-service"> Cloud Services</a>       
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/business-processs"> Business Process</a>             
                    </div>
                  </li> -->
    
          </ul>    
        </div>
    
      
    
    </div>  
      </nav>
    
      <div class="clearfix"></div>