<footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h6>Policies</h6>
          <p>
            Terms <br><br>
            Privacy Policy <br><br>
            Cookie Policy <br><br>
            Copyright <br><br>
          </p>
        </div>
  
        <div class="col-sm-3">
            <h6>Subscription</h6>
            <p>
                Print <br><br>
                Digital <br><br>
                Newsletter <br><br>
                Coins <br><br>
                
            </p>
        </div>
  
        <div class="col-sm-3">
              <h6>Source Links</h6>
              <p>
                  About us <br><br>
                  Contact us <br><br>
                  Advertisement <br><br>
                  
              </p>
        </div>
  
        <div class="col-sm-3">
                <h6>Follow us on</h6>
                <p>
                    Facebook <br><br>
                    Twitter  <br><br>                
                    LinkedIn <br><br>
                </p>
        </div>
  
      </div>
  </div>
  </footer>
  
  <section class="copyright">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 text-center">
                  <p>&copy; 2019. All Rights Reserved.</p>
              </div>
          </div>
      </div>
  </section>