<section class="contact">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 space-110"></div>
                <div class="col-sm-4">
                    <h1>
                       Contact us <br>
                        
                    </h1>                 
                    <hr>
                    <p>கால்நடை வேளாண்மை பற்றி சற்று விரிவாக தெரிந்துகொள்ளுங்கள் </p>
                    <button>
                        Talk to us
                    </button>
                </div>
    
                <div class="col-sm-2"></div>
    
                <div class="col-sm-6 ">
                    <!-- <img src="../../assets/ad1.png" class="img-fluid" alt=""> -->
                </div>
            </div>
        </div>
    </section>


    <section class="contact2">
        <div class="container">
            <div class="row mt-5 mb-5">
                <div class="col-sm-12 mb-5 text-center">
                    <h2>கால்நடை வேளாண்மை</h2>
                    <hr>
                    <p>எங்களை தொடர்பு கொள்ள, கீழ் குறிப்பிட்டுள்ள தகவல்களை பயன்படுத்தவும் </p>
                  

                </div>

                <div class="col-sm-4">
                        <i class="fa fa-map-marker float-left" aria-hidden="true"></i>
                        <p class="float-left">
                        கால்நடை வேளாண்மை, <br>
                        D -125, சன்னி வேள் அடுக்ககம், <br>
                        351, கொன்னூர் நெடுஞ்சாலை, <br>
                        அயனாவரம், <br>
                        சென்னை - 600 023.
                    </p>
                </div>

                <div class="col-sm-4">
                        <i class="fa fa-phone float-left" aria-hidden="true"></i>
                    <p class="float-left">
                     +91 9364657943, <br> 
                </p>
                        
                </div>

                <div class="col-sm-4">
                        <i class="fa fa-envelope float-left" aria-hidden="true"></i>
                     <p class="float-left">
                          kaalnadaivelanmai@gmail.com<br>
                     </p>
                </div>
            </div>
        </div>
    </section>