<section class="marquee">
    <div class="container">
        <div class="row mt-5 mb-5">
          
            <div class="col-sm-11">
                
                    <div id="demo1" class="carousel slide" data-ride="carousel">

                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                              <li data-target="#demo1" data-slide-to="0" class="active"></li>
                              <li data-target="#demo1" data-slide-to="1"></li>
                              <li data-target="#demo1" data-slide-to="2"></li>
                            </ul>
                            
                            <!-- The slideshow -->
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                               

                
  <div class="card-deck pl-3 pr-3">
        <div class="card shadow-lg">
          <div class="card-body">
            <p class="card-text">
              1.  இந்திய ராணுவத்துக்குச் சொந்தமான ஹெலிகாப்டர் பூடானில் பயிற்சியில் ஈடுபட்டிருந்தபோது விபத்து - 2 விமானிகள் பலி!
            </p>
        
          </div>
        </div>
    
        <div class="card shadow-lg">
            <div class="card-body">
              <p class="card-text">
                2.  இந்திய ராணுவத்துக்குச் சொந்தமான ஹெலிகாப்டர் பூடானில் பயிற்சியில் ஈடுபட்டிருந்தபோது விபத்து - 2 விமானிகள் பலி!
              </p>
          
            </div>
          </div>
    
          <div class="card shadow-lg">
            <div class="card-body">
              <p class="card-text">
                3.  இந்திய ராணுவத்துக்குச் சொந்தமான ஹெலிகாப்டர் பூடானில் பயிற்சியில் ஈடுபட்டிருந்தபோது விபத்து - 2 விமானிகள் பலி!
              </p>
          
            </div>
          </div>
      </div> <!--card-deck-->
                              </div>
                              <div class="carousel-item">
                                <div class="card-deck pl-3 pr-3">
        <div class="card shadow-lg">
          <div class="card-body">
            <p class="card-text">
               4. இந்திய ராணுவத்துக்குச் சொந்தமான ஹெலிகாப்டர் பூடானில் பயிற்சியில் ஈடுபட்டிருந்தபோது விபத்து - 2 விமானிகள் பலி!
            </p>
        
          </div>
        </div>
    
        <div class="card shadow-lg">
            <div class="card-body">
              <p class="card-text">
                5.  இந்திய ராணுவத்துக்குச் சொந்தமான ஹெலிகாப்டர் பூடானில் பயிற்சியில் ஈடுபட்டிருந்தபோது விபத்து - 2 விமானிகள் பலி!
              </p>
          
            </div>
          </div>
    
          <div class="card shadow-lg">
            <div class="card-body">
              <p class="card-text">
                6.  இந்திய ராணுவத்துக்குச் சொந்தமான ஹெலிகாப்டர் பூடானில் பயிற்சியில் ஈடுபட்டிருந்தபோது விபத்து - 2 விமானிகள் பலி!
              </p>
          
            </div>
          </div>
      </div> <!--card-deck-->
     </div>
     <!-- <div class="carousel-item">
       <img src="ny.jpg" alt="New York" >
  </div> -->
 </div>
                            
   <!-- Left and right controls -->
  <!--arrows begins-->
</div>
                          



                
  <!-- <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <p class="card-text">
            இந்திய ராணுவத்துக்குச் சொந்தமான ஹெலிகாப்டர் பூடானில் பயிற்சியில் ஈடுபட்டிருந்தபோது விபத்து - 2 விமானிகள் பலி!
        </p>
    
      </div>
    </div>

    <div class="card">
        <div class="card-body">
          <p class="card-text">
              இந்திய ராணுவத்துக்குச் சொந்தமான ஹெலிகாப்டர் பூடானில் பயிற்சியில் ஈடுபட்டிருந்தபோது விபத்து - 2 விமானிகள் பலி!
          </p>
      
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <p class="card-text">
              இந்திய ராணுவத்துக்குச் சொந்தமான ஹெலிகாப்டர் பூடானில் பயிற்சியில் ஈடுபட்டிருந்தபோது விபத்து - 2 விமானிகள் பலி!
          </p>
      
        </div>
      </div>
 </div> card-deck -->

 


            </div> <!--col-sm-10-->


            <div class="col-sm-1 arrow">
                    <a class="carousel-control-prev" href="#demo1" data-slide="prev">
                      
                            <i class="fa fa-backward" aria-hidden="true"></i>
                      
                         </a>
                         <a class="carousel-control-next" href="#demo1" data-slide="next">
                            
                            <i class="fa fa-forward" aria-hidden="true"></i>
                        </a>
            </div>

        </div>
    </div>
</section>


<section class="slidernav">
    <div class="container">
        <div class="row">


            <div class="col-sm-12 green-box">
                <ul>
                   <h6 class="d-inline-block">கால்நடை வேளாண்மை</h6> 
                   <li class="d-inline-block">மகசூல் </li> 
                   <li class="d-inline-block">நாட்டு நடப்பு </li> 
                   <li class="d-inline-block">கேள்வி-பதில் </li> 
                   <li class="d-inline-block">அறிவிப்பு </li> 
                   <li class="d-inline-block">தொடர்கள் </li> 
                   <li class="d-inline-block">ஆசிரியர் பக்கம் </li> 
                </ul>
            </div>

        </div>
    </div>
</section>


<section class="slider">
    <div class="container">
        <div class="row mt-3 mb-5">
            <div class="col-sm-3 text-center">
                <img src="../../assets/book.png"  class="img-fluid mb-2" alt="">
                <p> <b>10/08/19</b> </p>
                <button>Subscribe</button>
            </div>

            <div class="col-sm-7">


                <div id="demo" class="carousel" data-ride="carousel">
                    <ul class="carousel-indicators">
                      <li data-target="#demo" data-slide-to="0" class="active"></li>
                      <li data-target="#demo" data-slide-to="1"></li>
                      <li data-target="#demo" data-slide-to="2"></li>
                    </ul>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="../../assets/img1.webp" alt="Los Angeles" class="img-fluid">
                        <div class="carousel-caption">
                          <h3>மகசூல்</h3>
                          <p> இயற்கை வேளாண்மை எதிர்க்கும் விஞ்ஞானிகள்</p>
                        </div>   
                      </div>
                      <div class="carousel-item">
                        <img src="../../assets/img2.webp" alt="Chicago" class="img-fluid">
                        <div class="carousel-caption">
                          <h3>சம்பா</h3>
                          <p>ரூ.1,60,000... மாப்பிள்ளைச் சம்பா, கிச்சிலிச் சம்பா</p>
                        </div>   
                      </div>
                      <div class="carousel-item">
                        <img src="../../assets/img3.webp" alt="New York" class="img-fluid">
                        <div class="carousel-caption">
                          <h3>சிவகாசி நகராட்சி!</h3>
                          <p>ஆடு, கோழி வளர்க்கும் சிவகாசி நகராட்சி!</p>
                        </div>   
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                      <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                      <span class="carousel-control-next-icon"></span>
                    </a>
                  </div>




            </div> <!--2nd col-sm-6-->

            <div class="col-sm-2 card-right">

                

                  <div class="card">
                        <img class="card-img-top" src="../../assets/card1.webp" alt="Card image cap">
                        <div class="card-body">
                       <p class="mb-0"><b class="card-title">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            ஜி.பழனிச்சாமி</b> </p>
                          <p class="card-text">
                                நல்ல வருமானம் தரும் நாட்டுக்கோழிகள்!
                          </p>
                        
                        </div>
                      </div> <!--card-end-->

                       <div class="card mt-3">
                    <img class="card-img-top" src="../../assets/card2.webp" alt="Card image cap">
                    <div class="card-body">
                   <p class="mb-0"><b class="card-title">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        இரா.கோசிமின்</b> </p>
                      <p class="card-text">
                            விளைச்சலைக் கூட்டும் வேஸ்ட் டீகம்போஸர்!
                      </p>
                    
                    </div>
                  </div> <!--card-end-->

            </div> <!--3rd col-sm-6-->




        </div>
    </div>
</section>



<section class="books">
    <div class="container">
        <div class="row mb-5">

            <div class="col-sm-12 mb-3 text-center">
                <h3>கால்நடை வேளாண்மை </h3> 
                <hr>
                <p>வரிசையில்  வெளிவந்த புத்தகங்கள் </p>
            </div>


            <div class="col-sm-12">
                    <div class="card-deck">
                            <div class="card">
                              <img src="../../assets/book.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">வெள்ளாடு  வளர்க்கும் ஜெனிவா தமிழச்சி </h5>
                                <p class="card-text">கால்நடை  வளர்ப்பு பற்றிய சிறப்பு கட்டுரை. வெள்ளாடு வளர்க்கும் எழிய முறை பயிற்ச்சி </p>
                              </div>
                              <div class="card-footer">
                                <small class="text-muted">Published on: 1st August 2019</small>
                              </div>
                            </div>
                            <div class="card">
                              <img src="../../assets/book.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">வெள்ளாடு  வளர்க்கும் ஜெனிவா தமிழச்சி </h5>
                                <p class="card-text">கால்நடை  வளர்ப்பு பற்றிய சிறப்பு கட்டுரை. வெள்ளாடு வளர்க்கும் எழிய முறை பயிற்ச்சி </p>
                              </div>
                              <div class="card-footer">
                                <small class="text-muted">Published on: 1st July 2019</small>
                              </div>
                            </div>

                            <div class="card">
                              <img src="../../assets/book.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">வெள்ளாடு  வளர்க்கும் ஜெனிவா தமிழச்சி </h5>
                                <p class="card-text">கால்நடை  வளர்ப்பு பற்றிய சிறப்பு கட்டுரை. வெள்ளாடு வளர்க்கும் எழிய முறை பயிற்ச்சி </p>
                              </div>
                              <div class="card-footer">
                                <small class="text-muted">Published on: 1st June 2019</small>
                              </div>
                            </div> <!--card-->


                            <div class="card">
                                    <img src="../../assets/book.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">வெள்ளாடு  வளர்க்கும் ஜெனிவா தமிழச்சி </h5>
                                      <p class="card-text">கால்நடை  வளர்ப்பு பற்றிய சிறப்பு கட்டுரை . வெள்ளாடு வளர்க்கும் எழிய முறை பயிற்ச்சி </p>
                                    </div>
                                    <div class="card-footer">
                                      <small class="text-muted">Published on: 1st May 2019</small>
                                    </div>
                                  </div> <!--card-->

                          </div> <!--card-deck-->


            </div> <!--col-sm-12-->
        </div>
    </div>
</section>